# logging
error_log = netlib.errors

# indexing defaults
primary_index = matchable
primary_index_key = matchid
default_name = name

# primer defaults
do_index = true
do_array = true
is_label = false
is_property = true

# new_nodes is not defined as the primer or edger have opposing (sensible) defaults

#
dictionary = netlib_dictionary.config